<%= form_tag shop_path, method: :post do %>
  <div class="container api-form" >
    <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-2">
        <%= text_field_tag :search_box, nil, placeholder: "Paste API Key here", required: true, class: "form-control", :autocomplete => 'off' %>
      </div>
      <div class="col-lg-2">
        <%= submit_tag 'Get XML', :class => "btn btn-primary btnXML", :formtarget => "_blank" %>
      </div>
    </div>
  </div>
<% end %>
